.bg_modal {
    width: 100%;
    height: 300vh;
    top: 0;
    position: absolute;
    display: none;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    top: 20vh;
    width: 650px;
    display: flex;
    flex-flow: column wrap;
    background-color: white;
}

.top_section {
    display: flex;
    height: 45px;
    padding-right: 20px;
    color: white;
    background-color: #4b4c51;
}

.middle_section {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.top_section>div {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 12.5px;
    margin-left: 8px;
    align-items: center;
    flex: 1;
}

.iconClose {
    font-size: 150%;
    margin-top: 10px;
    cursor: pointer;
}

.bottom_section {
    height: 65px;
    display: flex;
}

.bottom_section>div {
    padding: 22px 0%;
    /* padding: 10px 0px; */
    background-color: #e65e22;
    cursor: pointer;
    padding-left: 10%;
    flex: 1;
}

.bottom_section>div:first-child {
    background-color: white;
    border-top: 1px solid #4b4c51;
}

.eachDiv {
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5px;
}

.eachDiv p {
    margin: 0px;
    padding: 0px;
}

.eachDivFirstSection {
    width: 130px;
    border-right: 1px solid black;
    padding-top: 5px;
    padding-right: 5px;
}

.eachDivSecondSection {
    flex: 1;
    padding-left: 5px;
    padding-top: 5px;
}

.eachDivLastSection {
    width: 130px;
    border-left: 1px solid black;
    padding-left: 5px;
    padding-top: 5px;
}

.eachDivFirstSection>p:first-child {
    font-size: 13px;
    height: 15px;
    overflow: hidden;
}

.productTag {
    display: flex;
    flex-flow: row wrap;
}

.productTag>img {
    width: 50%;
}

.productTag>p {
    flex-basis: 25%;
    text-align: center;
}

#boxInput {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    justify-content: center;
}

.crossIcon2 {
    float: right;
    margin-right: 20px;
}