#header {
    background-color: #363636;
    padding: 3px 0;
    width: 100%;
    margin-bottom: 50px;
    margin-top: -8px;
    margin-left: -10px;
    padding-left: 200px;
    height: 45px;
}

#space1 {
    flex-basis: 17%;
}

#header>img {
    height: 40px;
}

.whole_section {
    display: flex;
    width: 900px;
    margin: 0px auto;
}

#functionScreen {
    flex-basis: 70%;
}

#totalPaymentScreen {
    flex: 1;
    padding-right: 10px;
}

.heading {
    padding-top: 3px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border-bottom: 1px solid rgb(197, 194, 194);
    border-left: 1px solid rgb(197, 194, 194);
    border-right: 1px solid rgb(197, 194, 194);
    margin-bottom: 15px;
}

.heading>input {
    display: none;
    visibility: hidden;
}

.heading>label {
    margin-left: 10px;
    display: block;
}

.hidden {
    height: 0px;
    overflow: hidden;
    transition: height 0.8s padding 0.5s;
}

#promoCodeInputCheckBox:checked~.hidden {
    padding-top: 35px;
    height: 70px;
    border-radius: 5px;
    background-color: white;
    padding-left: 20px;
}

.promoCodeInput {
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}

.hidden>button {
    background-color: #00bac6;
    color: white;
    cursor: pointer;
    border-color: #00bac6;
}

.hidden1 {
    height: 0px;
    padding: 0px 10px;
    overflow: hidden;
    display: flex;
    background-color: white;
}

#paymentOptionCheckBox:checked~.hidden1 {
    padding-top: 30px;
    height: auto;
    border-radius: 5px;
    background-color: white;
}

.hidden1>div {
    flex-basis: 35%;
    margin-right: 10px;
}

.hidden1>form {
    flex: 1;
}

.hidden1>form>div {
    margin-top: 10px;
    display: flex;
    height: 30px;
    flex-flow: row wrap;
}

.eachDiv {
    flex-basis: 30%;
}

.image {
    flex-basis: 50%;
}

.image img {
    width: 100%;
}

.space {
    flex: 1;
}

.block {
    display: block;
    width: 100%;
}

#debitOption>div {
    padding: 15px 10px;
    margin-bottom: 2px;
    cursor: pointer;
    background-color: #efefef;
}

#debitOption>div:first-child {
    background-color: white;
}

#allDebitInpits>input {
    height: 30px;
    border: 1px solid #eeee;
    border-radius: 5px;
    margin-bottom: 15px;
}

#allDebitInpits button {
    height: 40px;
    width: 230px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid #00bbc6;
    border-radius: 5px;
    background-color: #00bbc6;
}

#totalPaymentScreen>div {
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 5px;
    border: 1px solid black;
}

.makeItFlex {
    display: block;
    height: 40px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.space {
    flex: 1;
}

#paymentSection {
    background-color: #00bac6;
}

#loading-animation {
    display: none;
}