.callingDetails {
  width: 90%;
  height: 80px;
  background-color: blanchedalmond;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.mySlides {
  width: 100%;
}

.imageSlide {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.next {
  background-color: black;
  margin-top: 80%;
}

#whatsApp {
  margin-left: auto;
  margin-right: auto;
}

#main {
  display: grid;
  width: 90%;
  grid-template-columns: 49.4% 49.4%;
  margin: auto;
  grid-gap: 1.2%;
}

.main_Image {
  width: 100%;
}

.img1 {
  width: 100%;
}

.prev-btn {
  font-size: 26px;
  background-color: black;
  color: white;
  padding: 1.2%;
  margin-top: -12.5%;
  position: absolute;
  cursor: pointer;
}

.next-btn {
  font-size: 26px;
  background-color: black;
  color: white;
  padding: 1.2%;
  position: absolute;
  margin-left: 96.8%;
  margin-top: -12.5%;
  cursor: pointer;
}

.slide-show-cont {
  height: 19%;
}

#slide-show-img-box {
  height: 100%;
}

#slide-show-img {
  height: 100%;
  width: 100%;
}

.newIssue1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 2%;
}

.newIssue2 {
  width: 100%;
}

.bestSelling1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 2%;
}

.bestSelling2 {
  width: 100%;
}

#youtube {
  width: 33%;
}

.youtube1 {
  width: 100%;
  height: 190px;
}

#pinkpink {
  width: 98%;
  margin: auto;
  background-color: #ffb79e;
  display: flex;
  padding-top: 20px;
  margin-top: 50px;
}

#pinkPra {
  width: 33%;
  height: 290px;
  margin: 0.5%;
  font-size: 20px;
  float: left;
}

#home {
  width: 33%;
  margin: 0.5%;
}

#youtube2 {
  height: 370px;
  background-color: #fef5e4;
  width: 98%;
  display: flex;
  margin: auto;
  margin-top: 30px;
}

.youtube3 {
  width: 40%;
  padding: 1.3%;
  margin-top: 15px;

}

.youtube2Right {
  margin-left: 7%;
  margin-top: 50px;
}

#celbrating {
  width: 90%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

#lastyoutube {
  height: 350px;
  background-color: #fef5e4;
  width: 98%;
  display: flex;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 5px;
}

.lastyoutube1 {
  width: 40%;
  padding: 20px;
}

.lastyoutubeRight {
  margin-left: 7%;
}

/* /////////////////////////
slide part start
///// */

.slider {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 5px 5px;
  min-width: 50px;
  background: rgba(255, 255, 255, 0);
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}

.item {
  background-color: blueviolet;
  color: brown;
  width: 100%;
  height: 200px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ///
/////////////////3 images slide */
.container {
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: -20px;
}

.wrapper {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  margin: 0 auto;
  position: relative;
}

li {
  display: inline-block;
  /* padding: 10px;  */
}

.product-container {
  text-align: center;
  padding: 1%;
  z-index: 1;
  cursor: pointer;
  margin: 10.5%;
}

.wrapper::-webkit-scrollbar {
  height: 0px;
}

.wrapper::-webkit-scrollbar-track {
  background: #eeeeee;
  border: 4px solid white;
  background-clip: content-box;
}

#click2,
#clicks2 {
  position: absolute;
  top: 35%;
  left: 0%;
  width: 85px;
  height: 80px;
  left: 0%;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}

#click,
#clicks {
  position: absolute;
  top: 35%;
  right: 0%;

  width: 85px;
  height: 80px;

  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}

#click:hover,
#click2:hover {
  opacity: 1;
}

.right-arrow {
  background: url(https://comunit.github.io/Product-slider/img/right.png) no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 40%;
}

.left-arrow {
  background: url(https://comunit.github.io/Product-slider/img/left.png) no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 40%;
}



#EXPLOREMORE {
  display: block;
  margin: 0 auto;
  background-color: #3b9f95;
  color: #eeeeee;
  border: none;
  width: 12%;
  height: 35px;
  margin-top: 2%;
  margin-bottom: 150px;
}

#viewRange {
  display: block;
  margin: 0 auto;
  background-color: #3b9f95;
  color: #eeeeee;
  border: none;
  width: 12%;
  height: 35px;
  margin-top: -20px;
  margin-bottom: 80px;
}


/* Hover */

.containers {
  width: 100%;
  margin: auto;
}

.dropdownsec {
  display: flex;
  padding: 2%;
  margin-top: -30px;
}

.boxsec {
  padding: 50px;
  margin-right: -50px;
}

.box {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  margin-left: -35px;
}

.dropbox {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 14%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: auto;
  margin-left: -40px;
  margin-top: 7px;
  border-radius: 0px !important;
}

.text_area {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  font-size: 0.8vw;
}

.pricesec {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 8%;
  font-size: 0.8vw;
}

.hoversec {
  padding: 2%;
  border-bottom: 1px solid rgb(216, 216, 216);
  gap: 0%;
  cursor: pointer;
}

.hoversec:hover {
  background-color: white;
}

.boxsec:hover .dropbox {
  display: block;
}

.imgs {
  max-width: 100%;
}

.box p {
  text-align: center;
}

#viewbtn {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0.9vw;
  align-items: left;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #37b4c7;
}

#viewbtn:hover {
  background-color: white;
}

.p_tag {
  font-size: 1vw;
}


.lastyoutubeRight>img {
  width: 75%;
  padding-top: 90px;
}


#computer-glasses-div {
  text-align: center;
  margin-top: 5%;
  line-height: 210%;
}


#computer-glasses-p {
  letter-spacing: 4px;
  font-family: futurastd-heavy;
  font-weight: 400;
  font-size: 26px;
  color: #445962;
}

.font-green {
  color: #3b9f95
}


#insta-div {
  color: gray;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#insta-hr {
  margin-top: 0.8%;
  height: 0.9px;
  border-width: 0;
  color: gray;
  background-color: gray;
}


#insta-assistance {
  text-align: center;
  font-size: 130%;
  margin-top: 20px;
}

#insta-hr2 {
  margin-top: 3%;
  height: 0.9px;
  border-width: 0;
  color: gray;
  background-color: gray;
}


#pinkPra>div {
  margin: 15%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
}


#whatsApp>a>img {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%
}

#whatsApp+div {
  margin: auto;
  text-align: center;
  font-size: 2.2vw;
  margin: 10px;
}

#know-more {
  color: #00bdd6;
  font-size: 1.2vw;
  text-align: right;
  margin-left: 37%;
  cursor: pointer;
  text-decoration-line: none;
  padding-top: 23px;
  text-decoration: none;
  font-weight: 900;
}

#know-more>a {
  text-decoration: none
}

.callingDetails>div:nth-of-type(1) {
  padding: 2%;
  padding-top: 23px;
  font-family: FuturaStd-Heavy;
  font-size: 1.5vw;
  color: #333;
}

.callingDetails>div:nth-of-type(2)>p {
  padding-top: 30px;
  text-align: left;
  font-size: .95vw;
  padding-left: 20px;
  height: 100%;
}