body {
  width: 100%;
  font-family: "Lato", "Ariel", sans-serif;
}

.whole_section {
  width: 95%;
  padding: 1%;
  margin: 1.5%;
  display: flex;
}

#image_block {
  flex-basis: 70%;
  display: flex;
  flex-flow: row wrap;
}

#image_block > div {
  flex-basis: 45%;
  margin-bottom: 1.5%;
  margin-right: 4.5%;
}

.description_block {
  flex: 1;
  padding-left: 10px;
}

#image_block > div img {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s;
  border: 1px solid rgba(219, 218, 218, 0.933);
}

#image_block > div img:hover {
  transform: scale(0.95);
}

.divHeadingIcon {
  display: flex;
  margin: 0px;
}

.divHeadingIcon > h5 {
  flex: 1;
  margin: 0px;
  color: #00bac6;
  letter-spacing: 1px;
}

.divHeadingIcon > i {
  font-size: 180%;
  margin: 0px;
}

.pSize {
  color: #00bac6;
}

.divBuyButton {
  background-color: #00bac6;
  color: white;
  text-align: center;
  display: block;
  cursor: pointer;
  padding: 10px 0px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.divTryOn {
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  padding: 15px 0px;
  display: block;
  border-radius: 5px;
  margin-bottom: 50px;
}

.bg_modal {
  width: 100%;
  height: 300vh;
  top: 0;
  position: absolute;
  display: none;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  top: 20vh;
  width: 650px;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
}

.top_section {
  display: flex;
  height: 45px;
  padding-right: 20px;
  color: white;
  background-color: #4b4c51;
}

.middle_section {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}

.top_section > div {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 12.5px;
  margin-left: 8px;
  align-items: center;
  flex: 1;
}

.iconClose {
  font-size: 150%;
  margin-top: 10px;
  cursor: pointer;
}

.bottom_section {
  height: 65px;
  display: flex;
}

.bottom_section > div {
  padding: 22px 0%;
  /* padding: 10px 0px; */
  background-color: #e65e22;
  cursor: pointer;
  padding-left: 10%;
  flex: 1;
}

.bottom_section > div:first-child {
  background-color: white;
  border-top: 1px solid #4b4c51;
}

.eachDiv {
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  padding-left: 5px;
}

.eachDiv p {
  margin: 0px;
  padding: 0px;
}

.eachDivFirstSection {
  width: 130px;
  border-right: 1px solid black;
  padding-top: 5px;
  padding-right: 5px;
}

.eachDivSecondSection {
  flex: 1;
  padding-left: 5px;
  padding-top: 5px;
}

.eachDivLastSection {
  width: 130px;
  border-left: 1px solid black;
  padding-left: 5px;
  padding-top: 5px;
}

.eachDivFirstSection > p:first-child {
  font-size: 13px;
  height: 15px;
  overflow: hidden;
}

.productTag {
  display: flex;
  flex-flow: row wrap;
}

.productTag > img {
  width: 50%;
}

.productTag > p {
  flex-basis: 25%;
  text-align: center;
}

#boxInput {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  justify-content: center;
}

.icons-div {
  text-align: center;
}

.icons-div > h4 {
  margin-right: 0px;
  margin-bottom: 10px;
}

.icons-div-section {
  width: 15%;
  margin: 0px auto;
}

.icons {
  font-size: 1.33333333em;
  margin: 0px 5px;
}

.icons:hover {
  border-bottom: none;
}

.social {
  display: flex;
  text-align: center;
}

.space2 {
  flex: 1;
}

.small-section {
  text-align: center;
  margin: 15px 0px;
}

a {
  text-decoration: none;
  color: rgb(32, 134, 124);
}

a:hover {
  color: rgb(32, 82, 77);
  border-bottom: 1px solid rgb(29, 31, 31);
}

.social a {
  flex-basis: 25%;
  border-bottom: none;
  color: black;
}

.options {
  display: flex;
  border-top: 1px solid rgb(197, 194, 194);
  border-bottom: 1px solid rgb(197, 194, 194);
}

.options > div {
  flex: 1;
  margin: 0.7% 0px;
  text-align: center;
}

.options2nd {
  display: flex;
  margin: 2% 9%;
}

.options2nd > div {
  flex: 1;
  text-align: center;
}

.options3nd {
  display: flex;
  margin: 0px 7%;
}

#no_margin {
  margin: 0px;
}

.margin-left-right {
  padding: 0px 10px;
  color: #755a85;
  font-size: 13px;
  border-right: 1px solid rgb(221, 212, 215);
}

.margin-left-right > a:hover {
  border-bottom: none;
  color: #755a85;
}

a {
  text-decoration: none;
  color: rgb(32, 134, 124);
}

a:hover {
  color: rgb(32, 82, 77);
  border-bottom: 1px solid rgb(29, 31, 31);
}

.spacee {
  margin-top: 50px;
}
