#section {
    margin-top: 20px;
    width: 100vw;
    background-image: url(https://static.lenskart.com/media/desktop/img/ditto_revamp_bg.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#section_box {
    justify-content: center;
    padding-top: 150px;
}

#section_twoparts {
    width: 55vw;
    margin: 0px auto;
    background-color: white;
    padding: 20px;
    display: flex;
}

#section_twoparts_2nd {
    flex: 1;
}

#section_twoparts_2nd h3 {
    font-size: 340%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#section_twoparts_2nd_points {
    font-size: 20px;
    margin: 20px auto;
    width: 60%;
}

.section_twoparts_2nd_points_each {
    margin-bottom: 40px;
}

.section_twoparts_2nd_points_each>div {
    width: 35px;
    height: 30px;
    display: block;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-size: 25px;
    margin-right: 20px;
    float: left;
}

.section_twoparts_2nd_points_each_sentence {
    display: block;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#section_twoparts_2nd>button {
    margin: 0px auto;
    min-width: 250px;
    border-radius: 5px;
    display: block;
    text-align: center;
    color: white;
    background-color: #2fbba4;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
}

.clearfloat {
    clear: both;
}

.icons-div {
    text-align: center;
}

.icons-div>h4 {
    margin-right: 0px;
    margin-bottom: 10px;
}

.icons-div-section {
    width: 15%;
    margin: 0px auto;
}

.icons {
    font-size: 1.33333333em;
    margin: 0px 5px;
}

.icons:hover {
    border-bottom: none;
}

.social {
    display: flex;
    text-align: center;
}

.space2 {
    flex: 1;
}

.small-section {
    text-align: center;
    margin: 15px 0px;
}

.a {
    text-decoration: none;
    color: rgb(32, 134, 124);
}

.a:hover {
    color: rgb(32, 82, 77);
    border-bottom: 1px solid rgb(29, 31, 31);
}

.social .a {
    flex-basis: 25%;
    border-bottom: none;
    color: black;
}

.options {
    display: flex;
    border-top: 1px solid rgb(197, 194, 194);
    border-bottom: 1px solid rgb(197, 194, 194);
}

.options>div {
    flex: 1;
    margin: 0.7% 0px;
    text-align: center;
}

.options2nd {
    display: flex;
    margin: 2% 9%;
}

.options2nd>div {
    flex: 1;
    text-align: center;
}

.options3nd {
    display: flex;
    margin: 0px 7%;
}

#no_margin {
    margin: 0px;
}

.margin-left-right {
    padding: 0px 10px;
    color: #755a85;
    font-size: 13px;
    border-right: 1px solid rgb(221, 212, 215);
}

.margin-left-right>a:hover {
    border-bottom: none;
    color: #755a85;
}

.a {
    text-decoration: none;
    color: rgb(32, 134, 124);
}

.a:hover {
    color: rgb(32, 82, 77);
    border-bottom: 1px solid rgb(29, 31, 31);
}

.spacee {
    margin-top: 50px;
}

.footer {
    font-size: 20px;
}

#select-category {
    margin-top: -75px !important;
    height: 40px !important;
    padding-right: 30px !important;
}

#select-category1 {
    margin-top: 0px !important;
}